* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    font-family: 'Comfortaa', cursive;
  }
  
  body {
    background-color: RGB(243, 243, 243);
  }
  
  .container {
    margin: 5% 5% 5% 5%;
  }
  
  .header {
    display: flex;
    align-items: baseline;
  }
  
  .logo-container {
    display: flex;
    align-items: baseline;
    height: 200%;
    width: 200%;
  }
  
  .logo-img {
    width: 5%;
    height: 5%;
  }
  
  .logo-title {
    font-size: 175%;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: black;
  }
  
  nav {
    display: flex;
    flex-direction: row-reverse;
  }
  
  nav a {
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: black;
    font-size: 125%;
    padding: 5%;
  }
  
  .main-section {
    width: 100%;
    height: 100%;
  }
  
  .topic-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 5% 5% 5%;
    margin-left: 15%;
    border: 1px solid black;
    border-radius: 35px;
    height: 225px;
    width: 400px;
    background-color: white;
    padding-left:15px; 
    padding-right:15px; 
  }

  .question-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 5% 5% 5%;
    margin-left: 15%;
    border: 1px solid black;
    border-radius: 35px;
    height: 225px;
    width: 400px;
    background-color: white;
    padding-left:15px; 
    padding-right:15px; 
  }
  .answer-cards{
    font-family: 'Comfortaa', cursive;
    margin: 5% 5% 5% 5%;
    margin-left: 45%;
    border: 1px solid black;
    border-radius: 35px;
    height: 225px;
    width: 400px;
    background-color: white;
  }

  
  .therapy-category {
    display: flex;
    color: rgb(205 0 0);
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    margin: 8% 0% 0% 8%;
    font-size: 100%;
  }

  .therapy-topic-category {
    display: flex;
    color: rgb(205 0 0);
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    margin: 8% 0% 0% 8%;
    font-size: 150%;
  }
  
  button.topics-button {
    border: none;
    background-color: transparent;
    outline: none;
    padding-right:15px;
}

  button.responses-button {
    border: none;
    background-color: transparent;
    outline: none;
    padding-right:50px;

  }

  button.see-topics-button {
    border: none;
    background-color: transparent;
    outline: none;
    padding-right:15px;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: black;
    font-size: 125%;
    padding: 10%;
}

button.see-responses-button {
  border: none;
  background-color: transparent;
  outline: none;
  padding-right:15px;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  color: black;
  font-size: 125%;
  padding: 10%;
}

button.prev-button{
  font-family: 'Comfortaa', cursive;
  color: grey;
  font-size: 80%;
  display: block;
  max-width: 300px;
  margin: left;
  border: none;
  background-color: transparent;
  outline: none;
  padding-right:15px;
}

button.skip-button{
  font-family: 'Comfortaa', cursive;
  color: grey;
  font-size: 80%;
  display: block;
  max-width: 300px;
  margin:right;
  border: none;
  background-color: transparent;
  outline: none;
  padding-right:15px;
}

  button:focus {
    border: none;
}
  .card-style {
    color: rgb(205 0 0);
    font-size: 150%;
    font-weight: bolder;
    margin: 0% 0% 0% 8%;
  }
  
  .therapy-content {
    font-family: 'Comfortaa', cursive;
    margin: 0% 8% 0% 8%;
    display: flex;
    align-items: flex-start;
    font-size: 100%;
    font-weight: lighter;
  }

  h2{
    font-family: 'Comfortaa', cursive;
    font-size: 100%;
    font-weight: lighter;
  }
  
  .answer-container {
    font-family: 'Comfortaa', cursive;
    font-size: 100%;
    margin: 5% 5% 5% 5%;
    margin-left: 45%;
    border: 1px solid black;
    border-radius: 35px;
    height: 225px;
    width: 400px;
    background-color: white;
  }
  
  .answer-title {
    color: black;
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    margin: 8% 0% 0% 8%;
  }
  
  .answer-style {
    color: black;
    font-size: 150%;
    font-weight: bolder;
    margin: 0% 0% 0% 8%;
  }
  
  .answer-content {
    margin: 0% 8% 0% 8%;
    display: flex;
    align-items: flex-start;
    font-size: 150%;
    font-weight: lighter;
  }
  
  .thought-container {
    margin: 0% 8% 0% 8%;
    display: flex;
    align-items: flex-start;
    height: 100px;
    width: 80%;
  }
  
  form {
    width: 100%;
    height: 100%;
  }
  
  .text-box {
    border: 0;
    width: 100%;
    height: 70%;
  }
  
  ::-webkit-textarea-placeholder { /* Chrome/Opera/Safari */
    white-space:pre-line;  
    position:relative;
    /* top:-10px; */
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    font-size: 100%;
    
  }
  ::-moz-placeholder { /* Firefox 19+ */
       white-space:pre-line;  
    position:relative;
    /* top:-30px; */
  }
  :-ms-textarea-placeholder { /* IE 10+ */
      white-space:pre-line;  
    position:relative;
    /* top:-30px; */
  }
  :-moz-placeholder { /* Firefox 18- */
       white-space:pre-line;  
    position:relative;
    /* top:-30px; */
  }
  
  .submit-button {
    background-color: RGB(106, 195, 80);
    border: 0;
    color: black;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 100%;
    border-radius: 5px;
    padding: 2% 5% 2% 5%;
    margin-left: 10%;
    margin-top: 1%;
  }
  
  textarea {
    color: black;
    border: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 100%;
    padding-bottom: 40px;
    padding-right: 40px;
    word-wrap: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 8%;
    margin-right: auto;
    width: 85%;
  
  }
  